/*      <div class="card">
            <img src="https://placeimg.com/640/480/nature" alt="Nature" class="card-image center">
            <h1 class="card-title">Look at me!</h1>
            <p class="card-text scroll">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, id odio. Ut
                delectus esse voluptas reprehenderit, alias dicta perspiciatis eum ratione, voluptatum vitae vero rem.
                Totam minus earum mollitia quas?
            </p>
            <a href="#" class="card-button center">Check it out!</a>
        </div>
         */

/* 
    <div class="nav">
        <h1 class="nav-title">OM Goat</h1>
        <img class="nav-button" src="assets/images/menu.png" alt="menu">
        <div class="nav-expand" state="collapsed">
            <a class="nav-expand-txt">Portfolio</a>
        </div>
    </div> */

/*         
        <div class="portfolio-card">
            <div class="portfolio-card-border">
                <a src="#" class="portfolio-card-button center">Check it Out!</a>
            </div>
            <img src="https://placeimg.com/640/480/nature" alt="Nature" class="portfolio-card-image">
        </div> */



/* Able to set color scheme here so that you don't have to search for every instance */
:root {
    --yellow: #f5d755;
    --orange: #b64626;
    --gray: #dde2e3;
    --dusty-blue: #9aacb8;
    --blue: #3c455c;
    --text-orange: #b7440d;
    --font-header: ivymode, sans-serif;
    --font-subhead: mr-eaves-modern;
    --font-body: mr-eaves-sans;
    background-color: var(--dusty-blue);
    background-image: url("../images/background.jpg");
    background-size: 100%;
}

/* Primary wrapper */
.wrapper {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: .5rem repeat(12, 1fr) .5rem;
    grid-template-rows: repeat(51, 8.1vh);
    color: var(--text-color);
}

/* Title */
.main-title {
    grid-area: 2 / 3 / 5 / 13;
    font-family: var(--font-header);
    font-weight: 600;
    font-style: normal;
    color: var(--gray);
    font-size: 6rem;
}


/* Navbar */
.nav {
    position: fixed;
    width: 100%;
    top: 2.5rem;
    display: grid;
    grid-area: nav;
    grid-template-columns: 5% 5% 1fr 1fr 1fr 5% 5%;
    grid-template-rows: 2.5rem;
    grid-template-areas:
        ". . nav-title nav-title nav-title nav-button ."
        "nav-expand nav-expand nav-expand nav-expand nav-expand nav-expand nav-expand"
}

.nav-title {
    grid-area: nav-title;
    font-size: 6rem;
    font-family: var(--font-family);
    font-weight: 600;
    font-style: normal;
    color: var(--gray);
    justify-self: center;
}

.nav-button {
    grid-area: nav-button;
    justify-self: right;
    align-self: end;
    background-color: transparent;
    border: none;
}

.nav-expand {
    display: grid;
    grid-area: nav-expand;
    height: 0px;
    overflow: hidden;
    color: var(--gray);
    grid-template-columns: 1fr 5%;
    grid-template-areas:
        "nav-expand-txt ."
}

.nav-expand-txt {
    grid-area: nav-expand-txt;
    justify-self: right;
    color: var(--text-color);
    padding: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
}


/* Card styling */
.card {
    display: grid;
    grid-area: card;
    margin: .5rem;
    border: .5px solid var(--border-color);
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: auto;
    grid-template-areas:
        "img img img img"
        "img img img img"
        "img img img img"
        ". title title ."
        ". text text ."
        ". text text ."
        ". text text ."
        ". text text ."
        ". button button ."
}

.card-image {
    grid-area: img;
    object-fit: contain;
    width: 100%;
    margin-bottom: inherit;
}

.card-title {
    grid-area: title;
    font-size: 2rem;
}

.card-text {
    grid-area: text;
}

.card-button {
    grid-area: button;
    margin: inherit;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color);
    padding: .5rem;
    text-decoration: none
}

.portfolio-card {
    display: grid;
    grid-area: portfolio-card;
    grid-template-columns: 1rem 1fr 2rem;
    grid-template-rows: 1rem 1fr 2rem;
    grid-template-areas:
        "pci pci ."
        "pci pci ."
        ". . ."
}

.portfolio-card-image {
    grid-area: pci;
    object-fit: contain;
    max-width: 100%;
}

.portfolio-card-border {
    display: grid;
    border: 1px solid #f5d755;
    grid-area: 2 / 2 / 4 / 4;
    grid-template-rows: 1fr 2rem;
    grid-template-areas:
        "."
        "pcb"
}

.portfolio-card-button {
    grid-area: pcb;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: .5rem;
    text-decoration: none
}


/* Contact form */


.contact-form {
    display: grid;
    grid-area: contact;
    grid-template-columns: 15% 1fr 15%;
    grid-template-areas:
        ". cont-name ."
        ". cont-email ."
        ". cont-mes ."
        ". cont-mes .";
}

.contact-name {
    grid-area: cont-name;
}

.contact-email {
    grid-area: cont-email;
}

.contact-message {
    grid-area: cont-mes;
}

/* General Properties */
.d-none {
    display: none;
}

.center {
    align-self: center;
    justify-self: center;
}

.scroll-box {
    overflow: scroll;
    padding: .25rem;
}