/* Able to set color scheme here so that you don't have to search for every instance */
:root {
    --row-height: calc(100vh / 12);
    --yellow: #f5d755;
    --orange: #b64626;
    --gray: #dde2e3;
    --dusty-blue: #9aacb8;
    --blue: #3c455c;
    --text-orange: #b7440d;
    --font-header: ivymode, sans-serif;
    --font-subhead: mr-eaves-modern;
    --font-body: mr-eaves-sans;
    background-color: var(--dusty-blue);
    background-image: url("../images/background.jpg");
    background-size: 100% calc(50 * var(--row-height));
}


/* Primary wrapper */
.wrapper {
    display: grid;
    grid-template-columns: .5rem repeat(12, 1fr) .5rem;
    grid-template-rows: repeat(50, var(--row-height));
    color: var(--text-color);
    overflow: hidden;
}


/* About Emile */
.about-photo {
    grid-area: 13 / 10 / 18 / 13;
    object-fit: contain;
    max-width: 100%;
    border-radius: 100%;
}

.about-header {
    grid-area: 13 / 3 / 14 / 9;
    font: var(--font-subhead);
    color: var(--gray);
    padding: .5rem;
    font-size: 5rem;
}

.about-text {
    grid-area: 14 / 3 / 18 / 10;
    font: var(--font-body);
    color: var(--blue);
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-right: 1.5rem;
}

/* Title */
.main-title {
    grid-area: 3 / 3 / 6 / 13;
    font-family: var(--font-header);
    font-weight: 600;
    font-style: normal;
    color: var(--gray);
    font-size: 6.5rem;
}

.sub-title {
    grid-area: 5 / 4 / 8 / 12;
    font-family: var(--font-subhead);
    font-weight: 600;
    font-style: normal;
    color: var(--gray);
    font-size: 6rem;
}


/* Navbar */
.nav {
    position: fixed;
    width: 100%;
    top: 2.5rem;
    display: grid;
    grid-area: nav;
    grid-template-columns: 5% 5% 1fr 1fr 1fr 5% 5%;
    grid-template-rows: 2.5rem;
    grid-template-areas:
        ". . nav-title nav-title nav-title nav-button ."
        ". nav-expand nav-expand nav-expand nav-expand nav-expand ."
}

.nav-title {
    grid-area: nav-title;
    font-size: 6rem;
    font-family: var(--font-family);
    font-weight: 600;
    font-style: normal;
    color: var(--gray);
    justify-self: center;
}

.nav-button {
    grid-area: nav-button;
    justify-self: right;
    align-self: end;
    background-color: transparent;
    border: none;
}

.nav-expand {
    display: grid;
    grid-area: nav-expand;
    height: 0px;
    overflow: hidden;
    color: var(--gray);
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-expand-txt {
    font: var(--font-subhead);
    color: var(--text-color);
    padding: .5rem;
    font-size: 2rem;
    text-decoration: none;
    z-index: 100;
}


/* Portfolio card styling */
.portfolio-title {
    grid-area: 20 / 3 / 22 / 9;
    font: var(--font-subhead);
    color: var(--gray);
    padding: .5rem;
    font-size: 5rem;
}

.portfolio-card {
    grid-template-columns: 1rem 1fr 2rem;
    grid-template-rows: 1rem 1fr 1fr;
}

.portfolio-card-image-left {
    grid-area: 1 / 1 / 3 / 3;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-bottom: 1px solid #f5d755;
    border-right: 1px solid #f5d755;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
}

.portfolio-card-image-right {
    grid-area: 1 / 1 / 3 / 3;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-bottom: 1px solid #f5d755;
    border-left: 1px solid #f5d755;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.portfolio-card-button {
    font-size: 1.5rem;
    color: var(--gray);
    text-decoration: none;
    padding-left: .5rem;
}


/* Contact form */

.contact-form {
    display: grid;
    grid-area: 45 / 8 / 51 / 14;
    grid-template-columns: 15% 1fr 15%;
    grid-template-areas:
        ". cont-head ."
        ". cont-name ."
        ". cont-email ."
        ". cont-mes ."
        ". cont-mes ."
        ". submit .";
}

.contact-name,
.contact-email,
.contact-message {
    margin: .5rem;
    border-radius: 5px;
    border: .5px solid var(--gray);
    font-family: var(--font-body);
    font-size: 1.5rem;
    padding: .115rem;
}

.contact-email {
    grid-area: cont-email
}

.contact-name {
    grid-area: cont-name
}

.contact-message {
    grid-area: cont-mes
}

.contact-header {
    grid-area: cont-head;
    font-family: var(--font-subhead);
    font-weight: 600;
    font-style: normal;
    color: var(--gray);
    font-size: 3rem;
}

.submit-contact {
    grid-area: submit;
    justify-self: right;
    margin: .5rem;
    font-size: 1rem;
    border-radius: 5%;
    font-family: var(--font-body);
}

/* Links to outside pages */
#github {
    grid-area: 49 / 7 / 50 / 9;
    align-self: center;
    justify-self: center;
}

#linked-in {
    grid-area: 48 / 7 / 49 / 9;
    align-self: center;
    justify-self: center;
}


/* Resume modal */
#resume-trigger {
    grid-area: 47 / 7 / 48 / 9;
    font-size: 1.25rem;
    font-family: var(--font-header);
    color: white;
    align-self: center;
    justify-self: center;
    background-color: transparent;
    border: none;
}

#resume-trigger,
.submit-contact {
    cursor: pointer;
}

#resume {
    height: calc(100vh - 44px);
    width: 100%;
}


/* General Properties */
.d-none {
    display: none;
}

.center {
    align-self: center;
    justify-self: center;
}

.scroll-box {
    overflow: scroll;
    padding: .25rem;
}

.sliding {
    opacity: 0;
}

.slide-left {
    transform: translateX(-50vw);
    transition: all 800ms linear;
}

.slide-right {
    transform: translateX(+50vw);
    transition: all 800ms linear;
}

.in-view {
    opacity: 1;
    transform: translateX(0px);
}